@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
  }
body{
    margin:0;
}  

.nav{
  background-color: #fff;
  color: #781548;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  padding: 20px;
  }
.nav ul{
  padding:0;
  margin: 0;
  list-style:none;
  display:flex;
  gap:1rem

}

.nav li{
  float:left;
}
.company-title{
  display: inline;
  margin-right: 30px;
}

.left-side-nav{
  justify-content: flex-start;
  vertical-align: middle;

}
  
.nav a{
  color: inherit;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
    
 }

a{
  font-size: 20px;
  vertical-align: middle;
}
.company-title{
  vertical-align:middle;
  height:50px

}
