*{
    box-sizing: border-box;
  }
body{
    margin:0;
}  

.nav{
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  
  .nav p{
    color: inherit
  }